* { 
    box-sizing: border-box; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.89);
}

html {
    scroll-behavior: smooth;
}

#main {
    // background-color: #202123!important;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-image: url('../images/22.png');
    background-position: 95% -40px;

    .page-header {
        h1 {
            font-size: 40px;
            font-weight: 700;
            @media (max-width: 575.98px) {
                font-size: 26px;
                font-weight: 700;
            }
        }
    }

    .page-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .elite-knight,
        .royal-paladin {
            display: flex;
            justify-content: center;
            @media (max-width: 575.98px) {
                justify-content: flex-start;
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    text-transform: uppercase;
                    font-weight: 700;
                    @media (max-width: 575.98px) {
                        font-size: 16px;
                    }

                    img {
                        width: 31px;
                    }

                    input {
                        width: 55px;
                        color: #000;
                        margin-right: 12px;
                        margin-bottom: 15px;
                        font-size: 18px;
                        @media (max-width: 575.98px) {
                            width: 70px;
                        }
                    }

                    input[type=button] {
                        width: 160px;
                    }
                }
            }

            #totalGastosEK,
            #totalGastosRP {
                font-size: 19px;
            }
        }
    }
}